extends layouts/app

block seo
block content
  // Main Content container
  div#main-content
    .about-Container
      .box
        h2 Welcome!
        p
          | The Red Leaf Bistro is proud to open it's doors to Houston!
          | We serve variety of foods all inspired by Canadian-French cuisine.
          | The Red Leaf Bistro is a great place for kids parties too. Cater options are also available with a one week notice.
block foot
block scripts
