extends layouts/app

block seo
block content
  // Main Content container
  div#main-content
    img(src='./images/Restaurant-int.jpg' class='hero') 
    h1.title Red Leaf Bistro
block foot
block scripts
