extends layouts/app

block seo
block content
  // Main Content container
  div#main-content
  .tab-Container
    .tab-box
      .tabHeaderMenu
        .tab-button(onclick='()', data-for-target='1') Apps
        .tab-button(onclick='()', data-for-target='2') Entrees
        .tab-button(onclick='()', data-for-target='3') Desserts
        .tab-button(onclick='()', data-for-target='4') Drinks
      .tab-Content.tab-Content-active(data-tab='1')
        ol.items 
          li 
            |Maple Baked Beans .......................................................................
            span 5$
          li
            |Pâté chinois .......................................................................
            span 4$
          li  
            |Donair Kebabs .......................................................................
            span 7$
          li  
            |French Pea Soup .......................................................................
            span 3$
      .tab-Content(data-tab='2')
        ol.items
          li  Seared Duck
          li  Tourtière
          li  Quebec Poutine
          li  Buffalo Burger
      .tab-Content(data-tab='3')
        ol.items
          li  Date Square
          li  Pouding chômeur
          li  Nanaimo bar
          li  Schmoo torte
      .tab-Content(data-tab='4')
        ol.items
          li  Beer
          li  Wine
          li  Caribou
          li  Soda
block foot
block scripts
