extends layouts/app

block seo
block content
  // Main Content container
  div#main-content
    .tab-Container
      .tab-box
        h2 Menu
        .tabHeaderMenu
          .tab-button(onclick='appDrawer()', data-target='1') Apps
          .tab-button(onclick='entreeDrawer()', data-target='2') Entrees
          .tab-button(onclick='dessertsDrawer()', data-target='3') Desserts
          .tab-button(onclick='drinksDrawer()', data-target='4') Drinks
        .tab-mat
          .tab-Content.apps
            ol.items
              li 
                |Maple Baked Beans .......................................................................
                span 5$
              li
                |Pâté chinois .......................................................................
                span 4$
              li  
                |Donair Kebabs .......................................................................
                span 7$
              li  
                |French Pea Soup .......................................................................
                span 3$
          .tab-Content.entrees
            ol.items
              li 
                |Seared Duck .......................................................................
                span 11$
              li
                |Tourtière .......................................................................
                span 8$
              li  
                |Quebec Poutine .......................................................................
                span 8$
              li  
                |Buffalo Burger .......................................................................
                span 12$
          .tab-Content.desserts
            ol.items
              li 
                |Date Square .......................................................................
                span 5$
              li
                |Pouding chômeur .......................................................................
                span 5$
              li  
                |Nanaimo bar .......................................................................
                span 3$
              li  
                |Schmoo torte .......................................................................
                span 4$
          .tab-Content.drinks
            ol.items
              li 
                |Beer .......................................................................
                span 3$
              li
                |Wine .......................................................................
                span 6$
              li  
                |Caribou .......................................................................
                span 4$
              li  
                |Soda .......................................................................
                span 2$
block foot
block scripts
