extends layouts/app

block seo
block content
  // Main Content container
  div#main-content
    .container
      header
        h1 
          | Read leaf Bistro
        h5
          | This is the menu
block foot
block scripts
