extends layouts/app

block seo
block content
  // Main Content container
  div#main-content
    .res-Container#container
      .box
        h2 Place reservations
        p
          | Reservations are available for up 1 day in advnace at no extra charge. larger parties of 6 or more will have to book a week in advance. To place an order place head over to Cloudwaitress
        button(href="#")
          p Place Reservation
block foot
block foot
block scripts
