@import "reset.css";

/* general */
html {
  font-family: 'Kalam', cursive;
}

body {
  background: rgb(50, 50, 50);
  background: linear-gradient(0deg, rgba(50, 50, 50, 1) 0%, rgba(10, 10, 10, 1) 50%, rgba(50, 50, 50, 1) 100%);
}

#Layout-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: all 1.25s ease-in-out .5s;
}

/* nav styles */
nav {
  position: fixed;
  z-index: 1;
}

.hamburger {
  transition: all .2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  align-self: center;
}

.hamburger:hover {
  transform: scale(1.1);
}

.nav-menu {
  font-size: 2.5rem;
  transform: translateX(-200%);
  line-height: 1.5;
  background: #000;
  text-align: center;
  transition: all 1s ease-in-out 500ms;
  align-self: baseline;
  height: 100%;
  position: fixed;
  text-transform: capitalize;
  list-style: none;
  top: 0;
  opacity: 1;
  padding: 1.5rem;
  z-index: 2;
  text-decoration: none;
}

.nav-menu a {
  text-decoration: none;
  color: #EFE5EC;
  transition: all .75s ease-in-out;
}

.nav-menu a:hover {
  color: #A46776;
}

.navSlide {
  transform: translateX(0%);
}

.line {
  height: 2px;
  width: 40px;
  background: #A46776;
  margin: .5rem 0;
}

/* homepages styles */
#main-content {
  transition: all 1.25s ease-in-out .5s;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

h1.title {
  color: #A46776;
  z-index: 1;
  position: absolute;
  top: 25%;
  background: black;
  padding: 1.25rem;
  font-size: 2.5rem;
}

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
}

/* container styles */
.about-Container, .res-Container, .tab-Container, .contact-Container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 100%;
}

.box {
  width: 50%;
  height: 50%;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #323232;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.tab-box {
  display: flex;
  flex-flow: column;
  background: red;
  height: 70%;
  width: 70%;
  background: #323232;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.contact-box {
  width: 75%;
  height: 75%;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #323232;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* reservations content */
.box>h2 {
  flex-basis: 50%;
  font-size: 2.5rem;
  color: #A46776
}

.box>p {
  flex-basis: 50%;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
  color: #EFE5EC;
}

.box>button {
  background: #A46776;
  color: #EFE5EC;
  padding: 1rem;
  border: none;
  font-size: 1.25rem;
  transition: all .75s ease-in-out 250ms;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  cursor: pointer;
}

.box>button:hover {
  background: #3D180E;
}

/* MENU content */
.tab-box>h2 {
  flex-basis: 10%;
  font-size: 2.5rem;
  color: #A46776;
  padding: .5rem;
}

.tabHeaderMenu {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-basis: 12%;
  padding: .5rem;
}

.tab-mat {
  flex-basis: 78%;
  padding: .5rem;
}

.tab-button {
  color: #EFE5EC;
  background: #A46776;
  font-size: 1.25rem;
  width: 25%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tab-button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab-Content {
  display: none;
  font-size: 1.5rem;
  justify-content: center;
  text-align: right;
  height: 95%;
}

.tab-Content-active {
  display: flex;
}

.items {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-evenly;
}

.items>li {
  color: white;
  text-align: right;
}

.items>li>span {
  color: green;
  padding: 0 .5rem;
}

/* contact content */
.contact-box>h2 {
  font-size: 2.5rem;
  color: #A46776;
  padding: .5rem;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

input, textarea {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  padding: .5rem 0;
  line-height: 24px;
}

input::placeholder, textarea::placeholder {
  color: red;
  font-size: 1.25rem;
}

input:focus, textarea:focus {
  color: white;
  font-size: 1.25rem;
  text-align: justify;
  font-family: inherit;
}

label {
  color: white;
  padding: .5rem 0;
  font-size: 1.25rem;
}

.form-btn {
  padding: .75rem .25rem;
  background: #A46776;
  transition: all .75s ease-in-out 250ms;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 1.25rem;
}

.form-btn:hover {
  background: #3D180E;
}

/* FOOTER content */
footer {
  color: #EFE5EC;
  background: #323232;
  display: flex;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 1.25s ease-in-out .5s;
  width: 100%;
  height: 20vh;
}

footer>div {
  width: 33%;
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: evenly;
  margin: 1rem;
  line-height: 1.75;
}

footer>div>span {
  display: inline-block;
  color: #A46776;
  font-size: 1.75rem;
  flex-basis: 33%;
  text-align: center;
}

.border {
  background: #B0AD80;
  height: 75%;
  width: 2.5px;
  left: 1%;
  position: relative;
  top: 8%;
}

/* Animation  */
.darken {
  opacity: 0.1;
}

/* media queries */
@media screen and (max-width: 767px) {
  nav {
    position: absolute;
  }

  .nav-menu {
    font-size: 1.5rem;
  }

  #container {
    height: 100vh;
  }

  .items {
    font-size: 1rem;
  }

  .box>h2 {
    flex-basis: 25%;
    font-size: 2rem;
  }

  .box {
    height: 60%;
    width: 70%;
  }

  .tab-box {
    height: 85%;
    width: 95%;
  }

  .border {
    height: 2.5px;
    width: 75%;
  }

  footer {
    flex-flow: column;
    height: initial;
    align-items: center;
  }
}