@import "reset.css";
@import "utility.css";
/* ======VARS ======= */
:root {
  --section-title: 5rem;
  --hero-title: 6rem;
  --hero-subtitle: 2rem;
  --menu-title: 2.25rem;
  --menu-item: 1.5rem;
  --menu-item-desc: 1rem;
  --quote-text: 3rem;
  --quote-author: 2rem;
  --quote-icon: 3rem;
  --footer-icon: 2rem;
  --nav-link: 1.5rem;
  --main-red: #b12020;
  --main-grey: #b4b4b4;
  --main-white: #e2e2e2;
}

/* --------NAV SECTION----- */
section.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/hero.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.hero nav {
  display: flex;
  color: white;
  height: 15vh;
  justify-content: space-between;
}
nav img {
  width: 15%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 40%;
  padding-right: 5rem;
}
nav ul li {
  font-size: var(--nav-link);
}

.hero-caption {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(177, 32, 32, 1.3);
  font-size: var(--hero-title);
  font-family: "Lobster", cursive;
}
.hero-subcaption {
  text-align: center;
  font-size: var(--hero-subtitle);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9d9d9d;
  /* font-family: "Lobster", cursive; */
}

/* --------ABOUT SECTION----- */
section.about {
  border: 2px solid black;
  display: flex;
  padding: 100px 50px;
  background: #b4b4b4;
}
.about_img-container {
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 40%;
}
.about_img-container img:nth-child(1) {
  background-image: url("../images/cheeseburger.jpg");
  border: none;
  height: 400px;
  width: 250px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_img-container img:nth-child(2) {
  background-image: url("../images/pizza_slice.jpg");
  border: none;
  height: 400px;
  width: 250px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_img-container img:nth-child(3) {
  background-image: url("../images/salmon_cut.jpg");
  border: none;
  height: 250px;
  width: 100%;
  border: none;
  grid-column: 1/3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_text-container {
  padding: 5rem 9rem 1rem;
  width: 60%;
}
.about-text {
  line-height: 1.5;
  margin-top: 4rem;
  text-align: justify;
  font-size: 1.75rem;
}
/* --------MENU SECTION----- */
section.menu {
  background: #e2e2e2;
  padding-top: 4rem;
}
.menu-container {
  padding: 4rem 2rem;
  display: grid;
  width: 65%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.menu-container .menu-group {
  padding: 2rem 1rem;
}
.menu-group .menu-title-group {
  margin-bottom: 1rem;
}
.menu-title-group .menu-title {
  color: #b12020;
  display: inline-block;
  font-size: var(--menu-title);
  line-height: 0.85;
  text-shadow: 2px 2px #e2e2e2, 2px -2px #e2e2e2, -2px 2px #e2e2e2,
    -2px -2px #e2e2e2;
}
.menu-group .menu-section {
}
.menu-section .item {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.item .item-title {
  color: black;
  font-size: var(--menu-item);
}
.item .item-desc {
  color: #3d3d3d;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: var(--menu-item-desc);
}

/* --------CUSTOMERS SECTION----- */
section.customers {
  background: #b4b4b4;
  display: flex;
  flex-flow: column;
  padding-top: 4rem;
}
.review-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 4rem;
}
.review-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  /* background-image: url('../images/salad.jpg'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/salad.jpg");
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.review-card h1 {
  padding: 2rem 0.5rem;

  color: #e2e2e2;
}
.review-card .quote_icon-container {
  padding: 1rem 0.5rem;
}
.quote_icon-container i {
  color: rgba(177, 32, 32, 0.8);
  font-size: var(--quote-icon);
}
.review-card .quote-text {
  color: var(--main-white);
  font-size: var(--quote-text);
  width: 80%;
  text-align: center;
}
.review-card .quote-author {
  color: var(--main-white);
  font-size: var(--quote-author);
  text-align: left;
}

/* --------FOOTER SECTION----- */
footer {
  background: #363434;
  color: #e5e5e5;
  padding: 2rem;
}
footer p {
  padding: 1rem 0rem;
}
.footer-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.footer-container > div {
  display: flex;
  flex-flow: column;
  width: 25%;
  align-items: start;
}
.directory-info {
  /* border: 2px solid green; */
}
.footer-links-container {
  /* border: 2px solid green; */
}
.footer-links-container ul {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-flow: column;
  height: 100%;
}
.social-container {
  /* border: 2px solid green; */
}
.contact-container {
  /* border: 2px solid green; */
}
.contact-icon-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}
.contact-icon-container i {
  color: #b12020;
  font-size: var(--footer-icon);
  padding-right: 1.5rem;
}
