doctype html
//Layout for app
html
  head
    block seo
    title Red Leaf Bistro
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Caveat|Courgette|Kalam:400,700|Kaushan+Script|Lobster+Two:400,400i,700,700i|Righteous&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/css/main.css')
  body
    // Template Container
    #Layout-container
      block nav
      //Nav-burger container
      nav(onclick='navAni()')
        div.hamburger
          div.bar1
          div.bar2
          div.bar3
      //Nav-menu container
      ul.navigationmenu
        li
          a(href='/') home 
        li
          a(href='./about') about
        li
          a(href='./menu') menu
        li
          a(href='./reservations') reservations
        li
          a(href='./contact') contact
      ul.nav-menu
        li
          a(href='/') home 
        li
          a(href='./about') about
        li
          a(href='./menu') menu
        li
          a(href='./reservations') reservations
        li
          a(href='./contact') contact
      block content
      // Footer Container  
      block foot
      footer 
        .hours 
          span Hours
          | Monday-Thursday: 11am - 10pm
          br
          | Friday-Sunday: 12am - 12pm
        .border
        .address
          span Address
          | 672 Embry St, Houston, Tx 77027
        .border
        .contact
          span Contact us
          | &#x2709 RLBistro@gmail.com
          br
          | &#9742 (213)-4288-452
    // Scripts
    block scripts
    script(src='./js/main.js')
