doctype html
//Layout for app
html
  head
    block seo
    title Red Leaf Bistro
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/main.css')
  body
    // Template Container
    #Layout-container
      block nav
      //Nav-menu container
      nav 
        div.hamburger(onclick='navAni()')
          div.line
          div.line
          div.line
      ul.nav-menu
        li
          a home 
        li
          a about
        li
          a reservations
        li
          a contact
      block content
      // Footer Container  
      block foot
      footer 
        .hours 
          span Hours
          | Monday-Thursday: 11am - 10pm
          br
          | Friday-Sunday: 12am - 12pm
        .border
        .address
          span Address
          | 654 Embry St, Houston, Tx 77027
        .border
        .contact
          span Conact us
          | &#x2709 RLBistro@gmail.com
          br
          | &#9742 (213)-4288-452
    // Scripts
    block scripts
    script(src='./js/main.js')
