doctype html
//Layout for app
html
  head
    block seo
    title Red Leaf Bistro
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='./public/css/main.css')
  body
    // Main Container
    #main-container
      block nav
      nav
        ul 
          li
            a home 
          li
            a about
          li
            a reservations
          li
            a contact
      block foot
      footer 
        p.copyright
          | Footer content
        .hours
          | Monday-Thursday: 11am - 10pm
          | Friday-Sunday: 12am - 12pm
        .address
          | 654 Embry St, Houston, Tx 77027
        .contact
          | &#x2709 RLBistro@gmail.com
          | &#9742 (213)-4288-452
    // Scripts
    block scripts
    script(src='/js/main.js')
