doctype html
//
  Layout for app
html
  head
    block seo
    title Red Leaf Bistro
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/main.css')
  body.is-preload
    // Wrapper
    #wrapper
      // Main
      #main
        block content
      // Sidebar
      #sidebar



        footer#footer
          p.copyright
            | © Untitled. These are my rights. 

    // Scripts
    script(src='/js/jquery.min.js')
    script(src='/js/browser.min.js')
    script(src='/js/breakpoints.min.js')
    script(src='/js/util.js')
    script(src='/js/main.js')
